* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

#root {
  width: 100vw;
  height: 100vh;
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
}

input {
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
}

button {
  white-space: nowrap;
  width: 4em;
  margin-left: 1em;
}

/* Header */
header {
  padding-bottom: 2rem;
}

header h1 {
  padding-bottom: 1rem;
}

header .profile {
  display: flex;
  justify-content: space-around;
}

/* TodoInput */
.todo-insert {
  padding-bottom: 1rem;
}

.insert-btn {
  background-color: rgb(21, 129, 21);
}

/* TodoList, Todo */
.todoList {
  width: 90%;
  margin: 0 auto;
  padding-top: 1rem;
}

.todoList > li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.todoList > li span,
.todoList > li .todo-update {
  width: 100%;
  margin-left: 1rem;
  flex-grow: 1;
  text-align: left;
}

.update-btn {
  background-color: #19389d;
}

.delete-btn {
  background-color: #ac2323;
}

.completed {
  text-decoration: line-through;
}
